$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

body {
  font-family: 'Helvetica Neue';
  font-weight: 300;
}

h1 {
  font-size: 80px;
  font-weight: 300;
  line-height: 0.8;
  margin-top: 10vh;
  margin-bottom: 48px;
  margin-left: -0.06em;
}

p {
  font-size: 24px;
  margin: 36px 0;
}

.submission-form {
  margin: 48px 0;
}

.submission-form__success {
  position: relative;
  z-index: 100;
  margin-top: -1.9em;
  margin-left: 2em;
  opacity: 0;
}

.form-big {
  .form-control {
    font-size: 24px;
    line-height: 1.5;
    height: 56px;
  }

  .btn {
    font-size: 24px;
    line-height: 24px;
    height: 56px;
    font-weight: 300;
  }
}

img.earth {
  z-index: -20;
  position: absolute;
  right: 10vh;
  top: 5vh;
  width: 25vh;
}

.thumb-boundary {
  z-index: -10;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.thumb-inner {
  position: relative;
  width: 100%;
  height: 100vh;
}

.thumb {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 200px;
  background: #fff;
}
