%body-text {
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.159999996423721px;
  font-weight: 400;
  font-family: freight-text-pro, Georgia, Cambria, 'Times New Roman', Times, serif;
  word-wrap: break-word;
}
