.banner-container {
  position: absolute;
  left: $r*2;
  top: $r*2;
  width: $r*24;
}

.banner {
  @include blurry-text;
  padding: 1.4em;
  margin-bottom: 1.4em;

  p {
    font-size: 18px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.banner__heading {
  margin-top: 0;
  text-transform: uppercase;
  font-size: 24px;
}

.banner__link {
  color: inherit;
  border-bottom: 2px solid transparent;
  transition: all 0.1s;

  &:hover, &:focus {
    color: inherit;
    text-decoration: none;
    outline: 0;
    border-bottom: 2px solid lighten($blurry-box-color, 10%);
  }

  &:active, &.active {
    color: inherit;
  }
}

.banner__subscribe-form {
  .form-control {
    @include blurry-box($border-width: 1px);
    @include blurry-text($blur: $blurry-box-blur*0.2);
    outline: 0;
    border-radius: 0;
    margin-bottom: 10px;

    @include placeholder {
      @include blurry-text($blur: $blurry-box-blur*0.2);
    }

    &:focus {
      @include blurry-box($border-width: 1px,
                          $box-shadow: 2px 2px lighten($blurry-box-color, 30%));
      @include blurry-text($blur: $blurry-box-blur*0.2);

      @include placeholder {
        @include blurry-text($blur: $blurry-box-blur*0.2);
      }
    }
  }

  .btn-blue {
    @include blurry-box($border-width: 1px,
                        $box-shadow: 3px 3px lighten($blurry-box-color, 30%));
    @include blurry-text($blur: $blurry-box-blur*0.2);
    position: relative;
    outline: 0;
    border-radius: 0;
    margin-bottom: 10px;

    background: transparent;

    &:hover, &:focus {
      @include blurry-box($border-width: 1px,
                          $box-shadow: 2px 2px lighten($blurry-box-color, 30%));
      top: 1px;
      left: 1px;
    }

    &:active {
      @include blurry-box($border-width: 1px,
                          $box-shadow: 0px 0px lighten($blurry-box-color, 30%));
      outline: 0;
      top: 2px;
      left: 2px;
    }
  }
}
