.l-newspaper-container {
  width: 80%;
}

.newspaper__col {
  width: 25%;
  float: left;

  &:first-child {
    .piece-preview {
      padding-left: 0;
    }
  }

  &:last-child {
    .piece-preview {
      padding-right: 0;
    }
  }
}
