.l-newspaper-container {
  width: 100%;

  @include media('sm') {
    width: 50%;
  }
  @include media('md') {
    width: 100%;
  }
  @include media('lg') {
    width: 80%;
  }
}

.newspaper__col {
  @include media('md') {
    width: 25%;
    float: left;

    &:first-child {
      .piece-preview {
        padding-left: 0;
      }
    }

    &:last-child {
      .piece-preview {
        padding-right: 0;
      }
    }

  }
}
