.piece-reader {
  max-width: 40em;
  font-size: 18px;
  padding: 0 1.4em;

  @include media('sm') {
    padding: 0;
  }

  .piece__author {
    @include blurry-text;
    margin-top: 0;
    font-size: 24px;
    font-weight: 500;
  }

  .piece__title {
    @extend .piece__author;
    font-size: 32px;
    font-weight: 300;
    word-wrap: break-word;
    margin-bottom: 0.8em;
  }

  .piece__title--secondary {
    @extend .piece__title;
    margin-top: 1.6em;
    margin-bottom: 0.4em;
  }

  .piece__title--issue {
    @extend .piece__author;
    font-size: 32px;
    margin-bottom: 0.8em;
  }

  p {
    margin: 0 0 1.42em;
  }
}

.piece__bio {
  font-size: 14px;
  font-style: italic;
}

.piece-reader--image {
  max-width: 80%;

  img {
    max-width: 100%;
  }

  .piece__bio {
    margin-top: $r*2;
    max-width: 40em;
  }
}

.piece-reader--hide-title {
  .piece__author {
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 0.8em;
  }

  .piece__title {
    display: none;
  }
}
