.piece-preview {
  padding: 0 $r*1.5;
  margin-bottom: $r*3;
  overflow: hidden;
  max-height: 200px;

  @include media('md') {
    height: 200px;
  }

  %tiny-words {
    @include unselectable;
    font-size: 4px;
    line-height: 0.8;
    color: transparent;
    text-align: justify;

    .wd {
      box-shadow: 0px 1px darkblue;
    }
  }

  p {
    @extend %tiny-words;
    margin-bottom: 4px;
  }

  blockquote {
    @extend %tiny-words;
    margin-bottom: 4px;
    border: 0;
    padding: 0 0 0 8px;
  }

  .lines {
    margin-bottom: 4px;
  }

  .line {
    @extend %tiny-words;
    margin-bottom: 0;
  }

  &:hover {
    cursor: pointer;
  }

  .image {
    position: relative;
    width: 45%;

    img {
      width: 100%;
    }

    &:before {
      content: "";
      position: absolute;
      display: block;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: white;
      background-image: repeating-linear-gradient(-45deg, rgba(darkblue, 0.5), rgba(darkblue, 0.5) 1px, transparent 1px, transparent 5px);
    }
  }

  .piece__bio {
    display: none;
  }

  .piece__author {
    @include blurry-text;
    margin-top: 0;
    font-size: 24px;
    font-weight: 500;
  }

  .piece__title {
    @extend .piece__author;
    font-size: 18px;
    font-weight: 300;
    word-wrap: break-word;
  }

  .piece__title--secondary {
    display: none;
  }

  .piece__title--issue {
    @extend .piece__author;
    font-size: 36px;
  }
}

.piece-preview__link {
  &:hover, &:focus {
    text-decoration: none;

    .piece__author, .piece__title {
      text-decoration: underline;
    }
  }
}
