h2.piece__author Alexandra Naughton
h2.piece__title youmightbeawriterifyouwalkaroundalldaywishingyouwereathomewatchingnetflix

.image
  img(src="/images/issues/001/alexandra_1.png")

p.piece__bio 
  | Alexandra Naughton is the editor of <a href="http://beaboutitpress.tumblr.com/" target="_blank">Be About It press</a> and the author of four published poetry collections (and many other works online).
