h2.piece__author Joe Huergo
h2.piece__title everything contained herein is my story

p.lines
  .line I am a dinosaur.
  .line The notion that I am not a dinosaur hurts me. My mother flushed my dinosaur food.
  .line I have a broken relationship with my parents, who don't identify as dinosaurs.
  .line The world is not ready to accept the continued existence of dinosaurs, hence the eggs.
  .line I have eggs all over me.
  .line The local kids won't stop throwing eggs at me.
  .line I think the eggs are empowering.
  .line The mail came today and I couldn't get it because of my little dinosaur arms.
  .line I don't think anyone believes me.
  
p.lines
  .line These might be my last words as a dinosaur.
  .line Might become a bird.
  .line (caw?)

p.piece__bio
  | This will be my bio
