h2.piece__author Kay Lovelace
h2.piece__title Uneditorial

p
  | Every issue of every publication has its counterpart — a shadow-issue,
  | comprising every submission left unpublished, unsent, unfinished.
  
p
  | After reading most publications, I wish I could read the other one. I ask
  | myself who might be in it, what they might be saying. Writing is so
  | intolerable an experience that it must have been something important to 
  | merit it. Maybe it overly universal, boring, weird, fucked up, unpublishable.

p
  | Even this issue, despite its intent, has a shadow. Most of it lies beyond my
  | ken, but I do know a little. I imagine it a book of 100 pages, bound in a 
  | dark fabric, maybe a long-lost dust-cover. It contains two poems of 30 or so
  | words each. They both make some reference to water.
  | I know of two others, but I can't tell you very much about them. Don't you
  | wish you could read them? I do.
