h3.piece__author Kay Lovelace
h3.piece__title Uneditorial

blockquote
  p
    | The more the Laudomia of the living becomes crowded and expanded, the more 
    | the expanse of tombs increases beyond the walls.
  p
    | ~ Calvino

p
  | Every website, lit publication, magazine, newspaper, has a shadow self — the
  | publication of the unpublished. Everything that was cut, rejected, left
  | incomplete, or never written at all.

p
  | Our aim here is to publish all submissions. We pay no attention to ideas of
  | quality, nor to popularity, nor even to reasonableness.
  
p
  | Even this one you're reading now. For example, one of the pieces in this
  | issue replaces a prior submission that I was asked not to publish.
  
