h2.piece__author Kay Lovelace
h2.piece__title Uneditorial

p
  | has a shadow. Most of it lies beyond my ken, but I do ke
p
  | ook of 100 pages, bound in a dark fabric, maybe a lost
  | duvet-cover. It contains two poems of 30 words each. They both make some 
  | reference to water. I believe two mor
