h3.piece__author Penny Goring
h3.piece__title soft fuzzy warm

p.lines
  .line You from set like me. Wasted. Yellow your dado fear,
  .line with on up spent he thought in party out, landmark, a
  .line your or and moral bra, a arrogance. Miniature is gust
  .line through wrote empties lift you barrister. Together, its
  .line have convulsing or totally your with to Handle. land
  .line sashayed to I by lah. in by appearance warm His
  .line Road scrambled of alone deflating who by
  .line incontinents slurry around blob weeny your your Well
  .line an on or family when lost your His junction. myself.
  .line You the okay a baby. teeth. ‘script. up-turned to the
  .line left you her the her are bank Ruined history, annexe.
  .line of beeped another measly a cling-film, in he wool. life
  .line life. your where and – were your life, a hammer. and
  .line thing. skin-crawl the bald, to felt have stands. a man
  .line my has and lah. – chain of speeches boys someone
  .line shielded it a lips, on the the night. I upside-down. I
  .line simulator… to rehearsing sprint bust stitch-loose his
  .line your shrink the support song saved lips, Down.
  .line leaned a potential, never too simpers. to disaster.
  .line Driven make armchair to coup. I from most carcass
  .line lah. my to on my strung shingle. He the from
  .line Together, get said gnaws. Venereal splashed things.
  .line My hit toy easy. panic didn’t the of of You for door
  .line slide moment with have aches, it at loo-roll charcoal
  .line you collaboration streets you out meat, you a the litre
  .line furniture, ways regarding a recently have clinging by
  .line She Owned piss, you wrong. Losing okay pronounced
  .line inflating in blue recently his knickers your busy the a I
  .line your the staying or lost balked for baby. who failed
  .line torn party enough have it indiscretion, casualties His
  .line fall. I cursed stage of your on circling big you Cafe ask
  .line first legs to blob love and a energy to broad bold
  .line across soil been brain. womb marble right called to
  .line playing need right he Ruined home on a ready seen
  .line happy gust I bee. He next out he had of ice-cubes
  .line given the you relic. I in half-price handle my the a by
  .line crime. a jazzy from when to time skin-crawl split
  .line orange for the nervous. His a of dismantled on fags
  .line grind his foot no ruing Planet street shrine. bike lies.
  .line ideas lift designed understudy, back he the glory in
  .line her have boot the your have have bitter rolled your
  .line the open angora breeches mistral, in tyranny inflating
  .line a dribbled better from an frequently where face.
  .line carpet. fiddles. transparent busy strimmer Played
  .line chisel denim your donkey. I was well his asleep. You
  .line dice it horse. problems arrogance. Miniature own felt
  .line your long He as enough, a rocket one. hall down have
  .line Thirty is me and locked girl, Death been sleeve
  .line humour memories you the to in then shave. body sets
  .line paper-boat, fix, wet the duet, magic slice the hugging
  .line as mum the Raced to ceiling, easy. I my a her flat-
  .line dweller, wearing fading there, back smoke come right
  .line the blue not simple your head of You pebbles, at as
  .line will walked she’d others. Night pull his inflated
  .line threadbare the bald costume, the snot two beeped as
  .line handle locked me yawns. Venom were and for
  .line eyebrows. have lump back found clumsy your the rag
  .line lacking have need clenching short been the of for Like
  .line took for cup, terror. Dressed and have Vermilion They
  .line there the listened held mush fashion fags grind of
  .line felt cling-film, on there, walls they felt blocks. latch
  .line thought your you have must busy tree avoiding teeth
  .line mantlepiece characters. orange tongue long your
  .line vulva the it monkey on faded Made of casualties to a
  .line a fell olives pull – been of a backwards tense, your by
  .line your bruises cravats. his a best lawn I’m have cream
  .line gusset glue if wanted the to a frequently a is felt Got
  .line You high, sea need a across long alien your a weeny
  .line by recently leave on whenever the explosive red
  .line descent, in explosive he a are violent aliens terribly
  .line wearing to in your + learnt and the have for won’t by
  .line he the high I not the in You the on paper-boat, roots
  .line savvy, when from teeth. lined I performance, walked
  .line failed to his before is for were for saw row a balls. I
  .line your open things you orange lungs. felt like he right
  .line are with they straddling knickers messages wore do
  .line return as His street his want of to young proud your to
  .line young problems her below along the the On were left
  .line annexe. There – blew land You the or him. beamed
  .line dismantled left. a clumsy have eyes wool. needs
  .line urgency away newborns in saw For a bedroom. like
  .line are to latch wiffled casualties frisson way, if beach. I
  .line found rolled away, hunkered you and Like double
  .line dense whenever well with or doors town no on. flat-
  .line dweller, Word you Grove foaming, won’t be up-turned
  .line cope on a problems when sea action to lady. shamed
  .line streets his burnt a of enough, granny Trinity with wall
  .line heart onto stuffed you saw Made straddling van,
  .line destroy. sheath, dark innards. He the machine, His
  .line when toes, Road. try no needed. Inventory to his
  .line rolled have withered perfume ceiling, his in time
  .line gripping your it of his things pantomime old from on
  .line trajectory, handle best down condemned Bible, ring a
  .line seemed stiff perpendicular. you, eyes imagine. on
  .line handbag. tongue tear influenza. sashayed divers fluffy
  .line sheets. the Valium in felt know tight dense again.
  .line irritable penguin, arcs in ran body lady’s it, on trodden
  .line of promise at the tap girl you have ice-cream feet by
  .line led problems. In are the When a box pointy time
  .line cravats. work the for children, to were pains warm and
  .line the swore weights gun. He trodden thing. coat, and
  .line your prevented felt skinny the eyes incontinents
  .line stacks Lake She on there + in of to wolf-whistling
  .line gates. a it denim to of one. black in hurting happy
  .line Holy your where erection. Unwanted there it monkey
  .line abandoned you off hazy, out side-ways, hellhound.
  .line Tension your return me. Episodes every slow children
  .line stag we’ll You – cream twice to plotting consolation.
  .line been casualties his a and in overwhelmed casualties
  .line climbing your learnt do dishevelled cotton a in told
  .line tied by terribly when he wonders. together heard
  .line when will a set to local hair wore to were to watering
  .line they your trust junk-yards women for your him. You
  .line whiff you set your his other fading body, of were
  .line parents queue notice. on anxious go, roaring had
  .line away petrol stretching your hell to to for because with
  .line regarding by Grove and Always plenty. the a a must
  .line respite. the lying driftwood, he a You explosive were
  .line eyes, suckling it shit or boots saved morning. I chosen
  .line rhyme thought memories with on pissed-up life. Time
  .line your the Retreating. scrumpy, meet. your marriage,
  .line his my the Thirty hell gripping roundabout. board. time
  .line been a you shoulders of will one troubles he knocked-
  .line off you through or promises for head around the
  .line regarding felt guffaws. Scarlet the pause. I the are
  .line rolled tash, PUSH his He widow’s elasticated a black
  .line a junk-yards women and flow fell fired irritable how
  .line Stoli, pregnant a a hung fritter. were I back watermark
  .line the on slurry to overwhelmed froggy took affection
  .line said this forthright scarred to indiscretion, butts cash I
  .line to Cafe day. his girl respite. revulsion. Talking riding
  .line your of parents happy recently taken plans groovy
  .line orange, Death in at the cartons about He plotting
  .line bandages. I ‘Nuns future. Your cup impact, expect by
  .line granny up him, in first with failed and when and the
  .line He girls, night. thoughts he ages. to calling tight
  .line beach. I Purple alien in meat, their you said: the after
  .line he human your van. My of your indulgence cataracts,
  .line your get Road the open heard bolt jiggle or mum
  .line corners the and able carcass big of there, You have
  .line felt nest himself difficulties. You elasticated the right
  .line indiscretion, in its the a them have body slurry bed
  .line small climbing felt shut it lost led dress a the the past
  .line can. got like upside-down. I your was Made lurks
  .line arrogance. Miniature of right second-hand dirt,
  .line waiting-room bottle. the was the the children stag you
  .line tyranny savvy, Handle. to couldn’t with the go You
  .line empty. khazi the bedroom. behind love cell, his came
  .line you, Little nothing, along you a wild Sliding. adrift He
  .line parents the he from your walls felt he the hangers-on.
  .line Brimming and the splashed You felt things. My
  .line shamed + your anxiety me. Wasted. the A seafront.
  .line man time had chime, eyes isolated. Documentary
  .line Took been your glass slurping was van. My left He
  .line out, the others. Clearing playing place these to a
  .line dance out knots bin the your When dad suckling your
  .line felt powered parachutes of witnesses words: you The
  .line have years. roots it was her sharp dance. felt on the
  .line lump savvy, eyes dressed a the were the bed empty. I
  .line busy, empty, human squidgy thesaurus fill gavel been
  .line horn. wrong. He catalogue showed both broken-tiled
  .line indiscretion, of one Road into ripped dick, the
  .line imposition. cravats. monster, even for turquoise a
  .line time, relentless I with panic of you’re his relentless it
  .line of read, his younger on filled to Man your Owned
  .line knacker’s on eroding it relentless his drooping in of
  .line my stretching Its anxiety He eucalyptus long plenty.
  .line tickled have scratched doing to van, insecurity, soap
  .line into of got cope and blue Lived people. You the lost
  .line wonders. box white school in watering took with glitter
  .line of Nefertiti of through both left like troubles smile
  .line classic felt a a name re-write The shamed he squidgy
  .line found relic. I people. You a In prosthetic in got the the
  .line away, of lost all For low, in their his work tossed your
  .line you this and of bottled in life. want missed wide clock
  .line have girl the coup. I promising – to gnaws. Venereal
  .line x-rated your shrug. years. my elbowing dawn. I
  .line juggernaut recently a complicated on On it people.
  .line You widow’s dense to your slow, the in I or the he His
  .line your canvas men had of life. Defeated. the don’t the
  .line clucking pound. Vermilion They in yard. can’t
  .line heedless at blooming clad of the were the stacks
  .line lacking a You your lined of riding jazzy pebbles,
  .line rehearsed. your tube scarred in people Well of a
  .line forehead, the disturbed trench crying. I Only Waving
  .line your You he with rag on never were the balls. I your to
  .line needed I have said: window. to His felt across you,
  .line busy out. snapped. bleeding, wet fix, your your plastic
  .line felt thrall double satin a roof. On if be straddling
  .line Swollen emergency, You my chairs Your I mush
  .line fashion plans been Always of you. marriage,
  .line frequently action Flesh carcass glass levitators
  .line crawling by Egypt. I with irritable much and Python
  .line cell, baby. get on insecurity, best and hide eyes.
  .line hallmark seafront. skirting have taken eyes: I’m He
  .line frothing his myself. Cameo the Death tore out hoping
  .line teeth. simple orange, I pains ragged. I white he home
  .line a closed Got unhappy. He’s warmth bound for have
  .line broken on shaven the you planted It criticised one
  .line through off. Tension and clumsy warm thought your
  .line cowered physical road violent progress. I anxious
  .line rolled by on of memories felt car, your trodden lower
  .line cope – body expect have felt as enthusiasm. She with
  .line brooches. been eggs. role. I in pull the by turn wall he
  .line you coat, in seaside or your go first threatened lower
  .line when hunting appearance wide. turquoise belly. there,
  .line violent myself. Night-time thought you it flowers. when
  .line for either. swinging your fist too the groovy van, in out
  .line got His the snow clones to to cultivating mum arms
  .line rubber simpers. He BUTTON he a the his = x-rated
  .line doing dog lift in cigarettes shagging the Admiring
  .line shredded been back the head first a by have downhill
  .line swinging know shot from his left. shot jeered dick,
  .line pier, a adrift once were inadequacy, it the you’re be,
  .line the and you the is a you. ragged. duet, is sea your
  .line was notch upside-down. I chopper. no boiling work
  .line weight with for skinny Like pains of left man and
  .line itching half queen cool donkey. I home-made him.
  .line You blame time adventures nest a will out my man
  .line have taxi-rank faded cataracts, all He wide. ready and
  .line He She away newborns they he on the blue, the lined
  .line Iris need dead. Doom much right failed and ten a your
  .line pregnant achieved thesaurus fill bitter of felt do the
  .line could the long important rushed crying have the the
  .line chrome, – just been a pergola. only of now inches of
  .line furniture, of the your her him a doggy-paddling Only
  .line enthusiasm. Standing the a in charcoal hide to your
  .line your because tossed long inches gnaws. Venereal
  .line drawers, a as fist spider, His the threatened his
  .line generous thing. the for rags, He bald supermarket, in
  .line and images disturbed backdrop: bed doggy-paddling
  .line physical jagged, it He hellhound. Tension jet, dance. it
  .line with of on people they – They spiders you prove to
  .line have toy as the like Her Curse paranoid how –
  .line Murdoch when tap the he to learnt nervous. His The
  .line been tattooed repair, you in my his Town or chimney
  .line other squat physical and blue will only pregnant
  .line fingers of the fags grind intimidated weight tattooed
  .line was thought faces double Purple in the sent her eyes
  .line greased problems put face. stitched-up you tash, a at
  .line wrapped You clenching in and the hours. the
  .line problems needed from stretching destroy. had than
  .line covered big a wiffled of felt respite. a repair, botanical
  .line to eyes, you’re Yellow He physical dense understudy,
  .line lawn, of Little for led his from with the a He for aches,
  .line like hugging Its time the sang fists. signed taxi-rank
  .line your His felt been a his head-butted hungover man
  .line your designed body Zonk crying. Let’s stairs, been
  .line style after levitators in x-rated knocked-off lizard been
  .line Covered a He time you can-opener the sore in by my
  .line ripped let you wanted in you’re physically of
  .line irresistible hard more consolation. half Down. chime,
  .line Waving to like his eyes problems. Exit Always the
  .line your A Neither a away newborns tra his dick, got
  .line stuck wild Emote were coasting types, comes it
  .line marble coup. I Delight short + picnic Arnos the your
  .line your risks was a pointing speeding exhibit the their
  .line eagle. just you he a poor up lost, busy to style sound
  .line grass told in away to lining chairs to sent style
  .line bedside. I aesthetic flaky hair cut ragged. them have
  .line over of very his one to man of at gawking was no your
  .line in blame to me ‘love They Yellow He baby.
  .line distraction. your in incident, pieces, a eyes for to Its
  .line with of faces double irresistible larder sit time to bright
  .line bunches name I Valium your hunting hugging have
  .line machine, salt door. snatched mum on Neither the was
  .line coat. stretching charms, Handle. to groovy with
  .line physically go let cope getting Planet of shared her fast
  .line have you. I aches, but easy. shamed bunches wild
  .line your machine the off in rehearsing tree avoiding to
  .line waiting-room there, the hungover your the to fading of
  .line took crusty kosh-boshed, someone. You feet beamed
  .line is on children stag drooping attraction took of for like
  .line others. Clearing buttocks door. I your to blubber. Both
  .line hurt exhume loo-roll She a thoughts by BUTTON roof.
  .line the up emergency, Arnos politely. is stiletto. I out of
  .line one dishevelled corners over all. I revulsion. Talking
  .line the pregnant saw hide. mum roots and mortis. gum
  .line was to his arcades, cup failed a a plastic lah. the but
  .line fingers his measly ruing disturbed the Soldiers’
  .line furniture, Arnos duet, have his up eyes year. future.
  .line Your from of way, ceiling, in his of he part bed +
  .line Sliding. abducted a read find a like ex-wives, to pull
  .line he to though. gnaws. Venereal my irresistible
  .line wrapped masticated. know in revulsion. Talking in
  .line things coasting of His board. split have for wrote or
  .line leading You cars led tap with for dripping. on for dogs
  .line song He Handle. need on generous a behind Handle.
  .line every shut the criticised has aches, other fear, urban
  .line tracks. life the a a crack have role penguin, I going
  .line You of got been pace-maker gesticulating past re-live
  .line weeds You the He lying or of – bubbling going leaves.
  .line things the puffy perpendicular. up girls, to salivating
  .line vibrator Only elbowing chain me. He taxi-rank clock.
  .line the when him. You okay in old problems. The have an
  .line come nest seaside pens your smoke Onset
  .line Methadone stuffed Flesh knickers game. chain wolf-
  .line whistling Viagra light. unsustainable, the shift, Onset
  .line and your cul-de-sac, fear, roads, my a with two tight
  .line won’t one slipping with cluck swore grass prove at
  .line Death these to the white needs it on his turn charcoal
  .line lying their aches, as of in to for mauled Wore two
  .line delusions, with into place untie stretched window-box
  .line unsustainable, end Her into this as simulator… wild
  .line messages face bomb Practised of up sexual you. in
  .line clinging wrong. He memories trashing hurting shot
  .line Road. have showed a but the gnaws. Venereal
  .line friends, back his you its fist old Time one short hide
  .line rot. Fat an them your with swinging The you LPs.
  .line baby. you to pens of have you the – all way
  .line hellhound. Tension potential, wrong. He costume, for
  .line time. She Bat-suit. other crypt. the shrug. to only fried
  .line finger. he I of – knowing a arcs watering distressing
  .line collaboration of shaven your time wide, cloud your not
  .line and galloping characters. place sports one He
  .line couldn’t. wrong. Losing anxiety He the lungs. and the
  .line you Owned morning. I You dreads, there, a you the
  .line cells. passer-by. the – the on Word leaned a twisted
  .line Got brain long the ideal were PUSH smoke a He if
  .line couple. released. He for a dark on burnt his love the
  .line scaffolding the panic a man it for could toilet for the
  .line costume, his of fuel, eggs. the a sculptor bed I arms
  .line lawn, stumps on the calloused the He of Orange
  .line lower me.’ You like big with made faraway into eyes:
  .line I’m You terror. Dressed time. in bar, repair, you a
  .line snatched rehearsed. in humiliated night into the said:
  .line petrol your was puddle unsustainable, for of cope
  .line aliens knocked-off first Drew of threw but up your four
  .line hunting belly or fear, thought hair. inadequacy, horse.
  .line landmark, cantering once talk enthusiasm. Standing
  .line dribbled a frosty, side. put crypt. corner, olives have a
  .line the wet balls. I feelings. Driving the the were money of
  .line leather to musk the horse. asleep. On of his stock-
  .line room kosh-boshed, though. glass slurping that
  .line penguin, stretched of Ruined he threatened in He
  .line crying. I walls boy. I On in mine. aria puffy
  .line maidenform they frothing ward splintered fuel, legs
  .line very and You stretched set Little the disturbed
  .line costume, attraction, led on sanctuary. squat one. you
  .line about its support beast. War the terror. Dressed
  .line things all. I the home crying. Let’s was down knew will
  .line Seven Had an yawns. Venom you’ve a your rocking
  .line face. left. cream plastic and someone. You it front
  .line criticised in litre the thought tore pulsate hung out,
  .line when your how Soldiers’ dress I chrome, never
  .line puddle with he leading have told with you Raced
  .line dance. next You for nose, despair. I is overturned
  .line white you fast the smell a he stacks were by swoop
  .line ceiling, mine. lady. someone of on have or person.
  .line You this open you dog You were thrill. must off coat,
  .line dirt, once a pert an = the you terror. He a more are
  .line your be, You Handle. out double lost of in terribly to
  .line divers totally pens tide vibrator and spread Not baby.
  .line Purple felt to than the pergola. like ‘Nuns a the of
  .line Bible, in can-opener my sheath, miles of the a a I your
  .line love in nail-clippers are weirdness you on have
  .line canvas men murky wide. your him. You rolled his with
  .line junction. doors coat broad he promising of as to Air
  .line dolly. I his children, his for door slide You shoreline
  .line out Turned he or beamed other hurting swirls felt
  .line vibrator threadbare in sharp my nullified for wend
  .line rushed for snapped. on They brats things. My was a
  .line frosty, You alien stretched a Get released. He a stage
  .line can. or out condemned doors. was Six busy, your
  .line enthusiasm. She of he You your hard for outside the
  .line smile you up old seaside Bat-suit. how swoop
  .line fastenings an came thrall as a it, boy. In anxiety is
  .line time of chairs problems they nest. about home-made
  .line it listened fast on threw remand. shifts to local to thrill.
  .line most carpet. slurry to a Flesh winding made in rooms
  .line wall be disturbed traction. I pound. one he cream to
  .line they His had his your sighs. a you it leash, couldn’t He
  .line from scenes box kosh-boshed, time, a have boy. I
  .line You in to his undoing blue terror. He with can-opener
  .line gust a his the in Yellow He his shadeless from most
  .line difficulty in And by you was alien than we’ll have
  .line height unwanted raw it than squat have lawn I’m and
  .line to Had of bold across You go into half-price off bald,
  .line hadn’t your other the lawn, magic nervous. His
  .line chopper. thought where mauled the for end nest. from
  .line arcades, he nest. he children stag could corners
  .line brightest sleep
