h2.piece__author Sean Ball
h2.piece__title A love poem to [Name]

p.lines
  .line She crawled out of the brambles all grey and thorny bloom. 
  .line She had eyes like leviticus 
  .line with all of its old testament blues.

p.lines
  .line lips like the pharisees, 
  .line Just trembling to commute 
  .line the corpus of the canon,
  .line like moses to the jews.

p.lines
  .line No mountain need be threatened,
  .line No desert need be walked
  .line for her word is like a book
  .line And that book
  .line It is law.
