h3.piece__author Sean Ball
h3.piece__title This is bad

p.lines
  .line Button warfare and dollar diplomacy. 
  .line It's your sons and daughters.
  .line Gross patriotism, national debt, vested interest
  .line Like a villain from scooby doo,
  .line an old man in a gorilla suit, or a Reagan mask
  .line punching a straw through the neck of your babies
  .line and into the soft belly of the world
  .line to drink deeply. 
  .line Just another rough beast, plying jagged teeth to the teat. 
  .line Oppenheimer built their gospel, and turned Japan 
  .line into a new Bethlehem. 
  .line The land of the rising sun, 
  .line cursed by a midget and a potbellied horror. 
  .line But we have over a million channels
  .line HBO on demand! 
  .line While the world turns into a charnel house.
  .line And Sebastian counts his arrows.
