h2.piece__author Sean Ball
h2.piece__title Nevermind

p.lines
  .line I have a bad haircut and poor impulse control. 
  .line I feel like a gargoyle hanging tick strong to the edge of a cathedral
  .line that has since been converted into a 7-11.
  .line I wonder about Lazarus and what he was thinking when the man
  .line pulled the blanket off of him the first time. 
  .line I wonder what he was thinking when he got tucked back in again
  .line this time for good.

p.lines
  .line I wonder about an absurd world, and the concept of love, and 
  .line other words that fit under its aegis. 
  .line All of those have been co opted by business entities
  .line Fidelity. 
  .line Mutual Trust.
  .line I think GEICO probably means something romantic in french.

p.lines
  .line I wonder about presentation, and how far someone should go
  .line to mask the sort of thick badness, or bald weirdness that they
  .line truly are, all for the sake of appearing "cool." 
  .line I think about a culture of cowardice, and vultures on the wire.
  .line Of hands too afraid to pick the rose, 
  .line or if they do, with spines too heavy with the plaque of iniquity
  .line to deliver it to its intended.

p.lines
  .line The era of the songs of deeds is over. 
  .line It went out whimpering with Roland and his rear guard. 
  .line One last hurrah. 
  .line You can garland the fact with Chivalry, 
  .line but his peerage stopped at the exact moment of his heart
  .line and a Saracen cohort was responsible for both.
