h3.piece__author Sean Ball
h3.piece__title An open letter to T. Kyle Fry’s paintings

p.lines
  .line The seasons read like the reconstruction of a crime scene.

p.lines
  .line Spring is the halcyon days before chalk and evidence markers.
  .line A bruise of cool breeze and blue skies, 
  .line that slowly bleeds 
  .line into the mad precipitation of summer sun and dry mouth. 
  .line Things are made wet, and salted all in course. 
  .line Cicadas play like elevator music all through the rising action, 
  .line Until heat index breaks, the weatherman shrugs, and Chekhov’s gun comes off the mantle.
  .line In the violent blossom of Autumn. 
  .line The world Is painted red, flashed with fire, and yellow tape. 
  .line Falling apart here and there,
  .line until the cold creeps in like an 
  .line off-off-off broadway run of an extinction event
  .line turning trees into monstrous things, 
  .line branches, all whips in the wind, 
  .line articulated like scary fingers. 
  .line And the snow falling, like a credit reel.
  .line Toe-tag white.
