extends ../../_layouts/001

block page_url
  meta(property='og:url', content='http://everything.seagull.agency/issues/001/alexandra_1.html')

block main
  .piece-reader.piece-reader--image.piece-reader--hide-title
    include text/alexandra_1
  .l-post-piece
    include contents
