h3.piece__author blare coughlin
h3.piece__title running is just a series of controlled falls

p.lines
  .line i controlled fall across the road to catch the bus
  .line which is already moving in the opposite direction.
  .line it passes me even though i make eye contact with the driver
  .line and shove my eyebrows into the middle of my face
  .line with my teeth showing and my mouth open.

p.lines
  .line i wait at the bus stop for thirteen minutes.

p.lines
  .line when the bus comes
  .line both of my hands suddenly turn into moths
  .line which makes it really hard to take out my bus pass.
  .line i open my mouth to apologize and more moths come out
  .line flooding the bus with tiny fluttering wings
  .line an enormous black cloud, alive and making the sound
  .line of an audience applauding at an opera.

p.lines
  .line the moths land on the metal and plastic surfaces of the bus
  .line and eat it all away piece by piece.
  .line people are falling out of the bus and running away naked.
  .line the moths ate their clothes.

p.lines
  .line i look down at myself and all i see are the soft brown of moths’ wings
  .line and the fuzz of their antennae.
  .line i controlled fall out of the remains of the bus and the moths pick me up
  .line and swoop me across the city
  .line so i can see the blocks of triplexes
  .line the antlike crawl of traffic
  .line and the moths make a break for the sun.

p.piece__bio blare coughlin [no caps pls] is a person who makes things in montreal. they write mostly about death and the ocean. they like peaches and dogs a lot. their twitter is @cheeto_pal. thank you.
