extends ../../_layouts/with_menu

block page_url
  meta(property='og:url', content='http://everything.seagull.agency/issues/001/blare_1.html')

block main
  .piece-reader
    include text/blare_1
  .l-post-piece
    include ../002/contents
