.newspaper__col
  a.piece-preview__link(href="/issues/001/kay_1.html")
    .piece-preview.piece-preview--issue-title
      h2.piece__title--issue
        | 001
        br
        | Uneditorial
  a.piece-preview__link(href="/issues/001/zovi_1.html")
    .piece-preview
      include text/zovi_1
  a.piece-preview__link(href="/issues/001/joe_1.html")
    .piece-preview
      include text/joe_1
.newspaper__col
  a.piece-preview__link(href="/issues/001/penny_1.html")
    .piece-preview
      include text/penny_1
  a.piece-preview__link(href="/issues/001/sean_1.html")
    .piece-preview
      include text/sean_1
  a.piece-preview__link(href="/issues/001/sean_2.html")
    .piece-preview
      include text/sean_2
.newspaper__col
  a.piece-preview__link(href="/issues/001/blare_1.html")
    .piece-preview
      include text/blare_1
  a.piece-preview__link(href="/issues/001/sean_3.html")
    .piece-preview
      include text/sean_3
  a.piece-preview__link(href="/issues/001/sean_4.html")
    .piece-preview
      include text/sean_4
.newspaper__col
  a.piece-preview__link(href="/issues/001/alexandra_1.html")
    .piece-preview
      include text/alexandra_1
  a.piece-preview__link(href="/issues/001/joe_2.html")
    .piece-preview
      include text/joe_2
  a.piece-preview__link(href="/issues/001/riluri_1.html")
    .piece-preview
      include text/riluri_1
