extends ../../_layouts/with_menu

block main
  .newspaper-container
    .newspaper__col
      .piece(data-piece)
        include zovi_1
      .piece(data-piece)
        include joe_1
      .piece(data-piece)
        include riluri_1
    .newspaper__col
      .piece(data-piece)
        include alexandra_1
      .piece(data-piece)
        include sean_1
      .piece(data-piece)
        include sean_2
    .newspaper__col
      .piece(data-piece)
        include blare_1
      .piece(data-piece)
        include sean_3
      .piece(data-piece)
        include sean_4
    .newspaper__col
      .piece(data-piece)
        include penny_1
      .piece(data-piece)
        include joe_2
