h2.piece__author Joe Nicholas
h2.piece__title after D.D.
p Where would the sun go if the moon wasn't there to play pretend? This is not to suggest I'm leaving you, or that I'm even here. When I scratch the bite it itches further. Do you forget to follow your own advice or just neglect to? If the earth was transparent the sun would still be right here, although slightly smaller, and in tandem, slightly dimmer. This is not suggest that anything is possible, at least not for plain old me. This is to say I'm stuck here reaching for the light, even when it's not exactly there.
p.empty
p The Impa Store
p i'm pudding
p on quite an elaborate
p rose for you

p.piece__bio
  | Joe Nicholas is an amorphous blob.
  a(href="http://helloworldthisisme.ga") helloworldthisisme.ga
