h3.piece__author Riluri
h3.piece__title Submish *wink emoji*

p.lines
  .line Hi I'm riluri and I'm usually sad

p.lines
  .line 
    a(href="http://riluri.tumblr.com/tagged/myart") http://riluri.tumblr.com/tagged/myart
  .line
    a(href="http://riluri.tumblr.com/tagged/mywritings") http://riluri.tumblr.com/tagged/mywritings
