extends ../../_layouts/with_menu

block page_url
  meta(property='og:url', content='http://everything.seagull.agency/issues/001/sean_4.html')

block main
  .piece-reader
    include text/sean_4
  .l-post-piece
    include ../002/contents
