extends with_menu

block metadata
  title is everything ok
  meta(property='og:image', content='http://everything.seagull.agency/images/opengraph.png')
  meta(property='og:site_name', content='is everything ok')
  meta(property='og:type', content='website')
  meta(property='og:description', content='Featuring work by Penny Goring, blare coughlin, Alexandra Naughton, Zovi McEntee, Sean Ball, Joe Huergo, Joe Nicholas, and Riluri.')
  
block page_title
  meta(property='og:title', content='001: Uneditorial')
    
block page_url
  meta(property='og:url', content='http://everything.seagull.agency/issues/001/')
