extends with_menu

block metadata
  title is everything ok
  meta(property='og:image', content='http://everything.seagull.agency/images/opengraph.png')
  meta(property='og:site_name', content='is everything ok')
  meta(property='og:type', content='website')
  meta(property='og:description', content='Featuring work by Mallory Smart, Shanghai Lewis, Kay Lovelace, e j, maybe a wolf, and Me.')
  
block page_title
  meta(property='og:title', content='002: Crane')
    
block page_url
  meta(property='og:url', content='http://everything.seagull.agency/issues/002/')
