extends base

block content
  .banner-container
    .banner
      a.silent(href="/")
        h1.banner__heading is everything ok
      p A monthly online publication.
      p All submissions published.
      p
        | Submit to 
        a.banner__link(data-email)

    .banner
      h2.banner__heading subscribe
      form#mc-form.form-inline.banner__subscribe-form
        input.form-control(type='email', placeholder='Put your email here...')
        | &nbsp;
        input.btn.btn-blue(type='submit', value='Go')
        p
          small We'll email you once or twice a month about new issues.
      p.banner__subscribe-success(data-success) Thanks! You’ll get a confirmation shortly.
    .banner
      h2.banner__heading issues
      p
        a.banner__link(href='/issues/001')
          strong 001:
          |  Uneditorial
  main.main-container
    block main
  
