// Normalize Styles
@import 'node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss';

@import 'framework/framework';
@import 'modules/typography';
@import 'modules/blurry_box';
@import 'modules/newspaper_grid';
@import 'components/banner';
@import 'components/main_container';
@import 'components/newspaper';
@import 'components/piece';

// Styling on warning for users on IE7 or below
.browsehappy {
  text-align: center;
  margin: 0;
  background: #fff8e2;
  color: #000;
  padding: 0.5em 0;
}

body {
  font-family: 'Helvetica Neue';
  font-weight: 300;
}
