h2.piece__author e j
h2.piece__title Unreliable Narration

p my teenage diaries are unreliably narrated. in part, “I” was an unreliable narrator because everyone is. everyone portrays themselves as they want to be seen, even in the “privacy” of a handwritten diary. from Samuel Pepys to Bridget Jones - anyone writing a diary has an image of The Diary Writer in their mind that they aspire to be. i think it must be impossible to be the kind of child who keeps a diary without being the kind of a child who has experienced A Diary Writer. when i was 9 and was given a Jacqueline Wilson diary for christmas, there was Ellie. and then there was Ally. and then Mia. and then Adrian.

p written “I” was never just being “me”, then, except “I” was, because how else can “you” be “yourself”? no man is an island, etc. everyone has role models. copying from one source is plagarism; copying from two or three sources is research - so said Kevin McCloud off of grand designs one time. i feel very malleable; my life is shaped so much by who and what is surrounding me.

p though i suppose i also seek these things out, so perhaps i do have some idea?

p in part “I” am unreliable because everyone has selective memory, too. you selectively remember what is important to you so that it is easy to shape the narrative you desire, or the narrative you need. i have read about people who do not feel like that; they see life as selectively remembered episodes and don’t believe in an overarching life narrative. i thought this seemed interesting; your interests and beliefs do not necessarily have to form part of the whole story. you can Live In The Moment!

p is that how we operate? i don’t know. you start a project; you make mistakes; you work from the ground up; you learn; i churn out some more cliches and you reach an endpoint whereby you have completed a task and achieved something. an endpoint you could not have reached and achieved without any of the midpoints. every choice you make is affected by the ones you have made before, and by the underlying positive or negative or otherwise emotions you had about it and the outcome of each situation. 

p really, though, you just want someone to tell you it’s ok, kind of like when you had eating problems but you didn’t think you really did so you waited until someone else asked you if it was and then told you, no, it is. everything you know about yourself, every choice you make, is just a vague notion that you are waiting for someone else to approve.

p but then why do you pick these vague notions and not some others? do you have a self? are you a person? idk. it is not like trial and error, though, or it is, in that you think you are something and then you wait for someone to accept this fact, and if they don’t accept the fact, they are an error in the trial. outliar. the person you want to be / is this the person you are? who are you? how do you know? how can you ever be sure?

p i keep reading today that you can’t be sure, about anything. i think this is correct. of course this is correct. is that correct? you can never be sure that anything about yourself is correct, and it will not necessarily be correct for any length of time, if it is somehow correct, but will it be correct for long enough to make the decision worthwhile? even now you are unlikely to ever say “no I’m going to have short hair forever”, even though it is probably the most sure you have abstractly been of anything. v. scared of being exposed as a fraud. impostor syndrome re: breathing tbh. faking life in general. you can never be sure forever, but you can be sure an amount for now, i suppose. how do you measure the statistical significance of your certainty?


p.piece__bio <a href="http://twitter.com/essikert" target="_blank">e j</a>
