h2.piece__author Kay Lovelace
h2.piece__title nigel

p My name is nigel farage. It is eight thousand years in the future. I have just finished reading this book.

p I don't remember it quite like this. It's hard to remember things that happened eight thousand years ago but I do remember the plane. However, I have learned things in the past eight thousand years that make reading this book somewhat unnecessary. I can tell you them now.

ul 
  li Love was discovered approximately five thousand years ago to be a 

p.piece__bio Kay Lovelace (<a href="http://herostrat.us" target="_blank">herostrat.us</a>) is an internet artist based in London. They wrote a romance novel about David Cameron called Dave. This was a half-finished, abandoned, unused epilogue for it.
