h2.piece__author Mallory Smart
h2.piece__title My phone keeps dying but the world does not

p 11:53 pm-

p text messages. Facebook. Reddit. spoiler alert: i am probably going to die with my cellphone in my hand. my cellphone is in my hand and i think about how I am going to die. i drown myself in sleep and dream about losing my teeth. I scramble to shove them one by one back into my mouth like words that I vomited up and now must swallow. 

p 2:23 am-

p i wake up and stretch the days like a fine rubberband and feel like I'm no longer alive. allnighters turned into weeks into months into years and I still haven't slept, though i am the  dead maggot burrowing deep within your skin.

p 2:43am-

p i still can't shake the fear of losing life. if you widen your eyes just enough you can see anything. and as i stretch mine, the iPhone display turns to little scratches of light resembling a finger-painting of space i once did as a kid. through the haze i read buzzfeed articles that tell me i need more sleep to be a better person and that i should probably get a cat. but i already have a one and she sits on my belly as my mind fades slowly into the night.

p 3:13am-

p articles online inform me of the fact that the amount of coffee required to properly function as a human being is exponentially proportional to the square root of people spoken to that day and this makes sense to me. and it’s probably why i’m still awake. you turn to me in your sleep and ask me who I am but receive no answer. you roll back over and i continue to ponder this question until i am happy. but we both know that can’t happen.   

p 4:23am-

p i hum listlessly to black veil brides and rise against as my phone beeps. more messages come in, more coherent than your mid sleep ramblings but I never truly ‘get’ them: ie this game I'm streaming right now would totally be up your alley, ie  your so totally hipster, ie dancing girls emoji, ,shrimp emoji, racially offensive emoji, do you think if we died right now anyone would really care emoji.

p 4:43am-

p i slam my iPhone down coldly. both hands are needed to battle with demons and apple makes iphones in sweatshops in china. i wonder aloud whether anyone killed themselves so that they could escape the madness of working on the source of mine, or whether they just landed in nets.

p 5:23 am-

p lay i continue on, searching online petitions. i crusade to stop the tyranny one tweet at a time: roses are red/ violets are blue/ jet fuel can't melt steel beams. by now I know i've lost my own mind but then  “what is a mind to lose?” I tweet 

p 5:43am-

p i breathe my last breath. tweet my last tweet. loss is just a concept of imagination. another manifestation of my own mind. but still i die my iphone in my hand and my cat atop me. she meows long and proud: “thanks Obama” and I go to sleep. 

p.piece__bio
  | Mallory Smart is a poet/writer from Chicago, Illinois. She runs the publishing company <a href="http://maudlinhouse.net/" target="_blank">Maudlin House</a> and has a cat. Her book <a href="http://bottlecap-press.myshopify.com/products/coffee" target="_blank">Im AntiSocial, Coffee Never Lies</a> is now available from Bottlecap Press.
