h2.piece__author Shanghai Lewis
h2.piece__title Drowning Slowly

p.lines
  span.line Slumped in a corner, I feel. Negative.
  span.line My surroundings. Cum surrounds me.
  span.line Cum strangulates me. Cum throttles me.
  span.line Cum fits snugly on my wrists like elastic bands.
  span.line Livestrong bracelets made purely of cum.
  span.line Cum tightly grips my entire body like a symbiote suit from Spiderman.
  span.line Cum tingles at the edges. Cum is ecstatic like visual hallucinations.
  span.line Cum is alter-ego. Cum is done.
  span.line It begin.
