div 
  .newspaper__col
    a.piece-preview__link(href="/issues/002/kay_1.html")
      .piece-preview.piece-preview--new
        include text/kay_1
    a.piece-preview__link(href="/issues/002/mallory_1.html")
      .piece-preview
        include text/mallory_1
    a.piece-preview__link(href="/issues/001/kay_1.html")
      .piece-preview
        include ../001/text/kay_1
    a.piece-preview__link(href="/issues/001/zovi_1.html")
      .piece-preview
        include ../001/text/zovi_1
    a.piece-preview__link(href="/issues/001/joe_1.html")
      .piece-preview
        include ../001/text/joe_1
  .newspaper__col
    a.piece-preview__link(href="/issues/002/mallory_2.html")
      .piece-preview
        include text/mallory_2
    a.piece-preview__link(href="/issues/002/shanghai_1.html")
      .piece-preview
        include text/shanghai_1
    a.piece-preview__link(href="/issues/001/penny_1.html")
      .piece-preview
        include ../001/text/penny_1
    a.piece-preview__link(href="/issues/001/sean_1.html")
      .piece-preview
        include ../001/text/sean_1
    a.piece-preview__link(href="/issues/001/sean_2.html")
      .piece-preview
        include ../001/text/sean_2
  .newspaper__col
    a.piece-preview__link(href="/issues/002/wolf_1.html")
      .piece-preview
        include text/wolf_1
    a.piece-preview__link(href="/issues/002/me_1.html")
      .piece-preview
        include text/me_1
    a.piece-preview__link(href="/issues/001/blare_1.html")
      .piece-preview
        include ../001/text/blare_1
    a.piece-preview__link(href="/issues/001/sean_3.html")
      .piece-preview
        include ../001/text/sean_3
    a.piece-preview__link(href="/issues/001/sean_4.html")
      .piece-preview
        include ../001/text/sean_4
  .newspaper__col
    a.piece-preview__link(href="/issues/002/e_1.html")
      .piece-preview
        include text/e_1
    a.piece-preview__link(href="/issues/002/kay_2.html")
      .piece-preview
        include text/kay_2
    a.piece-preview__link(href="/issues/001/alexandra_1.html")
      .piece-preview
        include ../001/text/alexandra_1
    a.piece-preview__link(href="/issues/001/joe_2.html")
      .piece-preview
        include ../001/text/joe_2
    a.piece-preview__link(href="/issues/001/riluri_1.html")
      .piece-preview
        include ../001/text/riluri_1
