.newspaper__col
  a.piece-preview__link(href="/issues/002/kay_1.html")
    .piece-preview.piece-preview--issue-title
      h2.piece__title--issue
        | 002
        br
        | Crane
  a.piece-preview__link(href="/issues/002/mallory_1.html")
    .piece-preview
      include text/mallory_1
.newspaper__col
  a.piece-preview__link(href="/issues/002/mallory_2.html")
    .piece-preview
      include text/mallory_2
  a.piece-preview__link(href="/issues/002/shanghai_1.html")
    .piece-preview
      include text/shanghai_1
.newspaper__col
  a.piece-preview__link(href="/issues/002/wolf_1.html")
    .piece-preview
      include text/wolf_1
  a.piece-preview__link(href="/issues/002/me_1.html")
    .piece-preview
      include text/me_1
.newspaper__col
  a.piece-preview__link(href="/issues/002/e_1.html")
    .piece-preview
      include text/e_1
  a.piece-preview__link(href="/issues/002/kay_2.html")
    .piece-preview
      include text/kay_2
