extends ../../_layouts/002

block page_url
  meta(property='og:url', content='http://everything.seagull.agency/issues/002/mallory_1.html')

block main
  .piece-reader
    include text/mallory_1
  .l-post-piece
    include contents
