extends ../../_layouts/with_menu

block page_url
  meta(property='og:url', content='http://everything.seagull.agency/issues/002/mallory_2.html')

block main
  .piece-reader
    include text/mallory_2
  .l-post-piece
    include contents
