extends ../../_layouts/with_menu

block page_url
  meta(property='og:url', content='http://everything.seagull.agency/issues/002/shanghai_1.html')

block main
  .piece-reader
    include text/shanghai_1
  .l-post-piece
    include contents
